h1 {
	text-align: center;
}

.center{
	text-align: center;
}

h1.title{
	text-align: center;
	font-size: 40px;
}

.licent{
	margin:0 auto;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	display: inline-block;
}

.licent ul li{
	text-align: left;
	list-style: inside;
	margin-left: 70px;
}

footer {
	clear: left;
}
